﻿@model Order

@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center fs-2 text-warning fw-bold">Checkout</h2>

<form class="container" asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="ShippingAddress">Shipping Address</label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notes">Notes</label>
<textarea asp-for="Notes" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>