﻿@model IEnumerable<WebBanHangn.Models.Product>

<h2>Products</h2>


<div class="container mt-4">
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-md-9">
            <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
            <div class="row row-cols-1 row-cols-md-3 g-4">


                @foreach (var product in Model)
                {
                    <!-- Sản phẩm -->
                    <div class="col">
                        <div class="card">
                            <img src="@product.ImageUrl" class="card-img-top" alt="..." style="max-height:135px;">
                            <div class="card-body">
                                <h5 class="card-title">Name: <strong>@product.Name</strong></h5>
                                <p class="card-text">Des: <strong>@product.Description</strong></p>
                                <p class="card-text">Price: <strong>@product.Price</strong></p>
                                <p class="card-text">Cate: <strong>@(product.Category?.Name ?? "No Category")</strong></p>

                                @* <a asp-action="Display" href="/Admin/Product/@product.Id" class="btn btn-warning">View</a> *@
                                @* <a href="@Url.Action("Display", "Admin", new { id = product.Id })" class="btn btn-warning">View</a>|
                                <a href="@Url.Action("Update", "Admin", new { id = product.Id })" class="btn btn-warning">Edit</a>|
                                <a href="@Url.Action("Delete", "Admin", new { id = product.Id })" class="btn btn-warning">Delete</a>| *@
                                <a href="/Admin/Product/Display/@(product.Id)" class="btn btn-warning">View</a>
                                <a href="/Admin/Product/Update/@(product.Id)" class="btn btn-success">Update</a>
                                <a href="/Admin/Product/Delete/@(product.Id)" class="btn btn-dark">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="bg-primary text-white p-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Facebook</a></li>
                    <li><a class="text-white" href="#">Twitter</a></li>
                    <li><a class="text-white" href="#">Instagram</a></li>
                    <li><a class="text-white" href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
